    <mtapp:setting
        id="upload_path"
        label="<__trans phrase="Default Upload Destination">">
    <ul>
    <li><input type="text" id="upload_path" name="upload_path" value="<mt:var name="upload_path" escape="html">" /></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="upload_path"
        label="<__trans phrase="Powered by">">
    <ul>
        <li><a target="_blank" href="https://github.com/blueimp/jQuery-File-Upload">Powered by jQuery File Upload Plugin.</a></li>
    </ul>
    </mtapp:setting>
